.carousal{
  position: relative;
  height: 400px;
  width: 90%;
  margin:0 auto;
  padding-top: 0;
}
.carousal__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousal__track-container{
  background: lightblue;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousal__track{
  padding: 0;
  margin:0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in-out;
  transition-duration: 1s;
}

.carousal__slide{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousal__button{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;

}
.carousal__button--left{
left: -50px;

}

.carousal__button--right{
right: -50px;

}
.carousal__button img{
  width: 40px;
}

.carousal__nav{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousal__indicator{
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  border: 0;
  margin: 0 12px;
  cursor: pointer;
}

.carousal__indicator.current-slide{
  background: rgba(0, 0, 0, 0.75);
}
.is-hidden{
  display: none;
}
